@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Rowdies:wght@300;400;700&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-family-sans-serif:'Rowdies', cursive;
// $font-family-sans-serif:'Balsamiq Sans', cursive;
$component-active-bg: black;
$enable-rounded:false;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
.fontcustom{
    font-family: 'Balsamiq Sans', cursive;
}

.del-btn {
  //   display: none;
  transform: scale(0);
  transition: 0.5s;
}

tr:hover .del-btn {
  //   display: inline;
  transform: scale(1);
}

.bg-transparent-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.side-bar {
  transform: translateX(-100%);
  transition: 0.5s;
}
.side-bar.active {
  transform: translateX(0);
}

.menu:active {
  transform: scale(0.8);
}
