@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-family-sans-serif:'Rowdies', cursive;
$component-active-bg: black;
$enable-rounded:false;

@import "../node_modules/bootstrap/scss/bootstrap.scss";